@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

.mainn{
    position: absolute;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    margin-left: 35%;
}


h1 {
    text-align: center;
    color: white;
    font-family: 'Josefin Sans';
    margin-bottom: -1%;
}
label {
    align-items: center;
    position: absolute;
    display:flex;
    justify-content: center;
}

/* .backgroundc {
    background-image: linear-gradient(to bottom left, #09203f 0%, #537895 100%);
  }  */

#input{
    font-size: 1;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    /* border-radius: 15px 15px 15px 15px; */
    width: 275px;
    /* height: 5px; */
    font-family: inherit;
    border-width:0px;
    border: none;
    padding-left: 0.8vw;
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    color: white;
    
  }

  #button{
    font-size: 20px;
    text-decoration: bold;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    /* border-radius: 0px 15px 15px 0px; /
    / font-family: 'Montserrat'; */
    border-width:0px;
    width: 200px;
    border:none;
    cursor: pointer;
    background-color: transparent;
    border: solid black 1px;
    border-radius: 10px;
    color: black;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    margin-left: 190px;
    margin-top: 5%;

    }
    #button:hover{
        background-color:#537895;
      }
  #timezone {
    /* margin-left: 15%; /
    font-size: 10px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    / border-radius: 15px 15px 15px 15px; */
    width: 615px;
    height: 15px;
    font-family: inherit;
    border-width:0px;
    border: none;
    padding-left: 0.8vw;
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
}    
#tablee {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    font-size: 15px;
    /* margin-bottom: 5%; */
  }
  
  #tablee td, #tablee th {
    border: 1px solid #ddd;
    padding: 5px;
    
  }
  
  #tablee tr:nth-child(even){background-color: #f2f2f2;}
  #tablee tr:nth-child(odd){background-color: #6b98b198;}
  #tablee tr:hover {background-color: #ddd;}
  
  #tablee th {
    text-align: 'center';
    color: black;

  }

  TableRow {
    height: 30;
  }

  TableCell {
    padding: "0px 16px"
  }

  #particles-js {
    background-image: linear-gradient(to bottom left, #09203f 0%, #537895 100%);
    height: 1600px;
  }
  
  #container {
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
  